<div class="row">
    <div class="col-md-6">
        <a onclick="goBack()"><i class="fa fa-arrow-circle-left" style="margin: 10px 0;"></i> Back </a>
        <h5 style="margin-bottom: 3%;">
            Reset Password
        </h5>
    </div>
    <div class="col-md-6 mob-date m-mb-1">
        <div ng-app ng-controller="Ctrl" style="text-align: right; margin-top: 10px;">
            <b style="margin-bottom: 0px;">
                {{date | date:'dd.MM.yyyy'}}
            </b>
        </div>
        <div style="text-align: right;">
            {{date | date:'EEEE'}}
        </div>

    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="card-header reset-header">
                    <h5 class="card-title" id="exampleModalLabel">Reset Password</h5>
                    <!-- <button type="button" id="closeButton" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> -->
                </div>
                <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-5">
                                <label> <span class="required-asterisk">*</span>Login Name</label><br>
                                <input type="text" formControlName="loginName" class="form-control"
                                    placeholder="Enter login name"
                                    [ngClass]="{ 'is-invalid': submitted && f.loginName.errors }" />
                                <div *ngIf="submitted && f.loginName.errors" class="invalid-feedback">
                                    <div *ngIf="f.loginName.errors.required">Login name is required</div>
                                    <div *ngIf="f.loginName.errors.minlength">Login name must be at least 6 characters long.
                                    </div>
                                    <!-- <div *ngIf="f.loginName.errors?.minlength">Login name must be in uppercase & at least 6 characters long.
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-md-5">
                                <label><span class="required-asterisk">*</span>Code</label><br>
                                <input type="text" formControlName="secretCode" class="form-control"  placeholder="Enter code"
                                    [ngClass]="{ 'is-invalid': submitted && f.secretCode.errors }" />
                                <div *ngIf="submitted && f.secretCode.errors" class="invalid-feedback">
                                    <div *ngIf="f.secretCode.errors.required">Code is required</div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <br>
                                <button [disabled]="enableFetch" class="btn btn-primary btn-block" style="margin-top: 8%;">
                                    <span *ngIf="loading"></span>
                                    Fetch
                                </button>
                            </div>
                        </div>
        
                        <!-- <div class="form-group" style="text-align: center;">
        
                          &nbsp;
                            <button type="button" class="btn btn-secondary">Close</button>
        
                        </div> -->
                    </form>
        
                    <div class="row" style="margin-top:20px;">
                        <div class="col-md-4" style="display: flex;">
                            <div class="col-md-5 headerspace"><b>Login name:</b></div>
                            <div class="col-md-5 headerspace"><span>{{loginnm}}</span></div>
                        </div>
                        <div class="col-md-4" style="display: flex;">
                            <div class="col-md-5 headerspace"><b>Username:</b></div>
                            <div class="col-md-5 headerspace"><span>{{usernm}}</span></div>
                        </div>
                        <div class="col-md-4" style="display: flex;">
                            <div class="col-md-5 headerspace"><b>Contact No:</b></div>
                            <div class="col-md-5 headerspace"><span>{{contactNo}}</span></div>
                        </div>
                    </div>
        
                    <hr />
        
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="onresetFormSubmit()" *ngIf="openResetPasswordForm">
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-4">
                                <label> <span class="required-asterisk">*</span>New Password</label>
                                <input type="password" placeholder="New Password" formControlName="newPassword"
                                    class="form-control" [pattern]="checkPasswordPattern" autocomplete="off"
                                    [ngClass]="{ 'is-invalid': resetFormsubmitted && f3.newPassword.errors  }" />
                                <div *ngIf="resetFormsubmitted && f3.newPassword.errors" class="invalid-feedback">
                                    <div *ngIf="f3.newPassword.errors.required">Password is required</div>
                                    <div *ngIf="f3.newPassword.errors.pattern">
                                        <ul>
                                            <li>
                                                Password must be of 8 characters
                                            </li>
                                            <li>
                                                Password must have one lower case and upper case letter
                                            </li>
                                            <li>
                                                Password must have one number
                                            </li>
                                            <li>
                                                Password must have one special character
                                            </li>
                                        </ul>
                                    </div>
        
        
                                </div>
        
                            </div>
                            <div class="col-md-4">
                                <label> <span class="required-asterisk">*</span>Confirm Password </label>
                                <input type="password" autocomplete="off" formControlName="cnPassword" class="form-control"
                                    [ngClass]="{ 'is-invalid': resetFormsubmitted && f3.cnPassword.errors }" />
                                <div *ngIf="resetFormsubmitted && f3.cnPassword.errors" class="invalid-feedback">
                                    <div *ngIf="f3.cnPassword.errors.required">Password is required</div>
                                    <div *ngIf="f3.cnPassword.errors.mustMatch">Passwords must match</div>
                                </div>
                            </div>
                            <div class="col-md-3" style="text-align: center; margin-top:35px;">
                                <button type="submit" class="btn btn-primary btn-block" data-dismiss="modal" #closeButton
                                    id="closeModel">
                                    Reset Password
                                </button>
                            </div>
                        </div>
                        <!-- <div class="form-group" style="text-align: center; margin-top:20px ;">
        
                           
        
                        </div> -->
                    </form>
        
                </div>
            </div>
        </div>
    </div>
    
</div>




<div class="row">
    <div class="col-md-2">


    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-6">
        <div class="input-group-icon input-group-icon-left mr-3">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>